
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary">
    <a type="radio" name="options" id="option1" autocomplete="off" [routerLink]="['/product', {outlets: {'product': ['insert']}}]"> Insert </a>
  </label>
  <label class="btn btn-secondary">
    <a type="radio" name="options" id="option2" autocomplete="off" [routerLink]="['/product', {outlets: {'product': ['update']}}]"> Update </a>
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> BELLAAAA
  </label>
</div>

<br> <hr>

<router-outlet name="product"></router-outlet>
